<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Your Profile Photo</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if saved_object %}
	<h2>Upload Successful: {{ saved_object.image.url }}</h2>
    <h2>Image Description: {{ saved_object.description }}</h2>
    <img src="{{ saved_object.image.url }}" alt="image" style="max-height: 500px">
{% endif %}


</body>
</html>