<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

{% if is_authenticated %}
    <h1>Hello {{ name }}!</h1>
{% else %}
    <h1>Hello User!</h1>
{% endif %}

<h1>Age: {{ age }}</h1>
<h3>{{ first_list.0 }}</h3>
<h3>{{ temp_object.x }}</h3>

{% for x in first_list %}
    <p>First: {{ x }}</p>
{% endfor %}

{% comment 'first_test_comment' %}
	This is learning material
{% endcomment %}

<h1>Filters</h1>
{{ first_list|length }}
</body>
</html>