{% extends 'base.html' %}

{% block title %}
	FlixCareers | Home
{% endblock %}




{% block content %}
	<section>
    <div class="container">
        <!-- job post -->
        {% for job in jobs %}
            <div class="post">
                <!-- title and des -->
                <div class="job-info">
                    <h1 class="job-title">{{ job.job_title }}</h1>
                    <div class="job-des">
                        <div class="location item">
                            <span class="material-icons"> place </span>
                            <p>{{ job.location.city }}</p>
                        </div>
                        <div class="budget item">
                            <span class="material-icons"> attach_money </span>
                            <p>{{ job.salary }}</p>
                        </div>
                        <div class="time item">
                            <span class="material-icons"> schedule </span>
                            <p>{{ job.job_type }}</p>
                        </div>
                    </div>
                </div>
                <div class="buttons">

                    <a href="{% url 'job_detail' job.slug %}">
                        <button class="apply">View Job</button>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>
{% endblock %}
<!-- job post lists -->
